<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this post from being saved:
    </h4>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col=md-6 col-md-offset-3">
    <%= form_for  @recipe, html: { multipart: true } do |f| %>
      Title      : <%= f.text_field :title %> <br>
      Description: <%= f.text_area :description %>

      <h3> Add Ingredients: </h3>
      <%= f.fields_for :ingredients do |ingredient|  %>
          <%= render   'ingredient_fields', f: ingredient %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add ingredients', f, :ingredients, class: "btn btn-link" %>
      </div>
      <br>
       <%= f.submit %>
    <% end %>
  </div>
<div>
