<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this post from being saved:
    </h4>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col=md-6 col-md-offset-3">
    <%= form_for  @recipe, html: { multipart: true } do |f| %>
      <div>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :description %> <br>
        <%= f.text_field :description %>
      </div>
      <br>
      <%= f.label :ingredient %> <br>
      <%= f.fields_for :ingredients do |ingredient|  %>
          <%= render   'ingredient_fields', f: ingredient %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add ingredients', f, :ingredients, class: "btn btn-link" %>
      </div>
      <br>

      <%= f.label :steps %> <br>
      <%= f.fields_for :steps do |step|  %>
          <%= render   'step_fields', f: step %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add steps', f, :steps, class: "btn btn-link" %>
      </div>
      <br>

       <%= f.submit 'Submit Recipe', :class => 'btn btn-primary' %>
    <% end %>
  </div>
<div>
  
