<% title "list of recipe" %>
<div class="row">
  <div class="col=md-8 col-md-offset-1">
    <h3> Wellcome <%=current_user.name %> </h3>
    <h4> List of your recipes</h4>
    <div class="container">
      <ul>
        <%@recipes.each do |recipe|%>
          <li> <%= link_to recipe.title, recipe_path(recipe) %>  - <%= last_updated recipe %> </li>
            <div id="description-<%= recipe.id %>" > <%= truncate(recipe.description) %></div>
              <a href='#' data-id="<%= recipe.id %>" class='js-more-recipe'>Read More</a>
              <br>
              <br>
        <%end%>
      </ul>
    </div>
  </div>
</div>
