<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<pre>
<%= form_for @recipe do |f| %>
  Title:        <%= f.text_field :title %>  <br>

  Description: <%= f.text_area :description %> <br>
               <%= f.submit %>
<% end %>
<pre>
