<pre>
<h3> <%= @recipe.title %> </h3>
     Direction: <%= @recipe.description %>
     <% @comments = Comment.all %>
     <% @comments.each do |comment|  %>
       <%if comment.recipe_id  == @recipe.id  %>
     Comment: <%=  comment.content%>
        <%if comment.user_id == @current_user.id%>
        <% recipe_id = @recipe.id %>
        <% id = comment.id %>
         <%= link_to  "Edit Comment", edit_recipe_comment_path(@recipe.id, comment.id)  %>
         <%= link_to  "Delete Comment", recipe_comment_path(recipe_id, id), :method => :delete, data: {confirm: "Are you sure?" }  %>
         <% else%>
          <%= comment.user_id  %>  <%=@current_user.id%>
        <%end%>
      <%end%>
    <%end%>


<%= link_to  "Edit", edit_recipe_path(@recipe)  %>  <%= link_to  "Delete", recipe_path(@recipe), :method => :delete, data: {confirm: "Are you sure?" }  %>
 <%= link_to  "Comment", new_recipe_comment_path(@recipe.id)  %>
</pre>
  
