<% title @recipe.title %>

  <div class="row">
  <div class="column" style="background-color:#f9f9f9;">
    <h4> Hi <%=current_user.name%> you are viewing " <%= @recipe.title  %> " recipe, which was <%= last_updated @recipe %> <br> </h4>
      Description:
       <%= @recipe.description %>
       <br>
       <br>
       <h4> To view comment rating of this recipe click on the link below <h4>
         <a href="/comments/comment_statistics/<%=@recipe.id%>"> Comments by Rating</a> <br><br>
      <%if @recipe.user_id == @current_user.id%>
        <%= link_to  "Edit", edit_recipe_path(@recipe),class: "btn btn-primary"  %>
        <%= link_to  "Delete", recipe_path(@recipe), :method => :delete, data: {confirm: "Are you sure?" }, class: "btn btn-primary"  %>
        <%= link_to  "Comment", new_recipe_comment_path(@recipe.id), class: "btn btn-primary"  %>

      <%else%>
        <%= link_to  "Comment", new_recipe_comment_path(@recipe.id), class: "btn btn-primary"  %>
      <%end%>
      <%= link_to  "Top 5 Comments", recipe_comments_path(@recipe.id), class: "btn btn-primary"  %>


    </div>

    <div class="column" style="background-color:#f5f5f5">

    Ingredients:
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li> <%= ingredient.name %> </li>
      <%end%>
    </ul>
  </div>

  <div class="column" style="background-color:#f2f2f2;">
     Steps:
    <ol>
      <% @recipe.steps.each do |s| %>
      <li> <%= s.step %> </li>
      <%end%>
    </ol>

</div>

<pre>
</pre>

  <div id="submitted-comments">



  <div class="col=md-8 col-md-offset-1">
      <% @comments = Comment.all %>
    <% @comments.each do |comment|  %>


    <div class="card" id="comment-<%= comment.id %>">
        <div class="card-body">
          <% if comment.user != nil %>
            <h6 class="card-subtitle mb-2 text-muted">Posted by:  <%= link_to comment.user.name, comment.user %></h6>
          <% else %>
            <h6 class="text-muted">By: anonymous</h6>
          <% end %>

          <p class="card-text"><%= comment.content %></p>
        </div>
      </div>




      <%if comment.recipe_id  == @recipe.id  %>
          Comment By:
          <%= comment.user.name %>  - <%=  comment.content%> <br>
       <%if comment.user_id == @current_user.id%>
           <%= link_to  "Edit Comment", edit_recipe_comment_path(@recipe.id, comment.id),class: "btn btn-link"  %>
           <%= link_to  "Delete Comment", recipe_comment_path(@recipe.id, comment.id), :method => :delete, data: {confirm: "Are you sure?" },class: "btn btn-link"  %>
           <br>

          <%end%>
     <%end%>
   <%end%>
 </div>

<br>
</div>

<%= render partial: 'layouts/errors', locals:{obj: @comment}%>
<% title @recipe.title %>
<div class="row"  >
  <div class="col=md-6 col-md-offset-3">
    <br>
    <br>
    <h4> Add comment <%= current_user.name %>  </h4>

    <%= form_for ( [@recipe, @comment])   do |f| %>
      <div>
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'commentBox', rows: 6, cols:50%><br>
        <%= f.label :ratings %><br>
        <%= f.select(:ratings, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']],{ :prompt => "Please select"}) %>
      </div>

      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="col=md-7 col-md-offset-2">
        <p><%= f.submit 'Submit Comment',id="new_comment", :class => 'btn btn-primary' %></p>
      </div>
    <%end%>
  </div>
</div>
