<pre>
<h4> <%= @recipe.title %> </h4>
     Direction: <%= @recipe.description %>
    <% @recipe.ingredients.each do |ingredient| %>
    <h1> dddddddd</h2>
       <%= ingredient.name %>
     <%end%>

     <% @comments = Comment.all %>
     <% @comments.each do |comment|  %>
       <%if comment.recipe_id  == @recipe.id  %>
     Comment: <%=  comment.content%>
        <%if comment.user_id == @current_user.id%>
        <% recipe_id = @recipe.id %>
        <% id = comment.id %>
            <%= link_to  "Edit Comment", edit_recipe_comment_path(@recipe.id, comment.id),class: "btn btn-link"  %>  <%= link_to  "Delete Comment", recipe_comment_path(recipe_id, id), :method => :delete, data: {confirm: "Are you sure?" },class: "btn btn-link"  %>
         <% else%>
          <%= comment.user_id  %>  <%=@current_user.id%>
        <%end%>
      <%end%>
    <%end%>


<%= link_to  "Edit", edit_recipe_path(@recipe),class: "btn btn-default"  %>  <%= link_to  "Delete", recipe_path(@recipe), :method => :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"  %>  <%= link_to  "Comment", new_recipe_comment_path(@recipe.id), class: "btn btn-default"  %>
</pre>
